<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
</head>
<body>
    <div class="logo"><img src="/static/images/Journal.png" alt="Website Logo">
    </div>

    <div class="header">
        <div class="contents">
            <div class="homebtn  content-item">Home</div>
            <div class="aboutbtn  content-item" style="background-color: #8e765f;">About</div>
            <div class="helpbtn  content-item">Help</div>
            <div style="background-color: #DFCDBB;" class="search content-item">
                <input type="text" placeholder="Enter Location" style="background-color: #DFCDBB;">
                <img style="width: 15px; background-color: #DFCDBB;"
                    src="/static/images/magnifying-glass-1093183_1280.png" alt="magnifying-glass">
            </div>
        </div>
    </div>

    <div class="about">
        <div style="margin-left: 50px;" class="max-p">
            <img src="/static/images/max-p.png" alt="Image 1">
        </div>
        <div style="margin-left: 100px;" class="ayush-p">
            <img src="/static/images/ayush-p.png" alt="Image 2">
        </div>
        <div style="margin-left: 100px;" class="tejas-p">
            <img src="/static/images/ismael-p.png" alt="Image 3">
        </div>
        <div style="margin-left: 100px;" class="ismael-p">
            <img  src="/static/images/tejas-p.png" alt="Image 4">
        </div>

    </div>
    <div class="ribbon">
        <img style="width: 400px; height: 100px" src="/static/images/tagline.png" alt="tagline" class="tagline">
    </div>
    <script src="../static/index.js"></script>
</body>
</html>