<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/bulb.png" type="image/x-icon">
    <title>Help</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" />

</head>
<body>
    <div class="logo"><img src="/static/images/Journal.png" alt="Website Logo">
    </div>

    <div class="header">
        <div class="contents">
            <div class="homebtn  content-item">Home</div>
            <div class="aboutbtn  content-item">Authors</div>
            <div class="helpbtn  content-item" style="background-color: #8e765f;">Help</div>
            <div style="background-color: #DFCDBB;" class="search content-item">
                <form action="/ayush" method="POST"><input type="text" name="location" placeholder="Enter location"></form>
                <!-- <img style="width: 15px; background-color: #DFCDBB;"
                    src="/static/images/magnifying-glass-1093183_1280.png" alt="magnifying-glass"> -->
            </div>
        </div>
    </div>

    <div class="help">
        <div class="helpcontent">
            Discover 'Grow Smart'—your go-to platform for simplified farming decisions. Our user-friendly website is packed with useful info about crops, weather, and more. Just enter your location, and we'll give you all the details you need. We'll tell you about the weather, what the soil's like, how much rain to expect, and more. So, you'll know if it's a good spot for your crops. No more guessing! With 'Grow-Smart' you can make smart choices about what to plant and how to grow it. We're all about helping you succeed in farming!
        </div>
    </div>
    <div class="ribbon">
        <img style="width: 400px; height: 100px" src="/static/images/tagline.png" alt="tagline" class="tagline">
    </div>
    <script src="../static/index.js"></script>
</body>
</html>
